{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
  
     {{ encore_entry_link_tags('app') }}

    
{% endblock %}




{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datatables') }}
{% endblock %}

{% block body %}
<div class="container my-4">
    
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-theme">Liste des articles</h1>
         <a href="{{ path('blog_create') }}" class="btn btn-theme">
                <i class="bi bi-plus-lg"></i>+ Ajouter un article
            </a>
    </div>
    
    <table id="articlesTable" class="table table-striped table-hover table-bordered">
        <thead class="table-primary">
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date de création</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {# Exemple statique ou via JS avec DataTables #}
        </tbody>
    </table>
</div>


</script> 

{% endblock %}



   

